.player{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #010f1b;

    .music-title{
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin: 20px 0 0 0;
    }

    .audio-player {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        color: #fff;
        margin: 0;
        box-sizing: border-box;

        .play-pause {
            font-size: 2rem;
            margin-right: 20px;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        .time {
            font-size: 0.9rem;
            margin-right: 20px;
        }

        .progress {
            flex: 1;
            height: 5px;
            background-color: #666;

            .progress-bar {
                height: 100%;
                background-color: #1db954;
            }
        }

        .volume {
            display: flex;
            align-items: center;
            margin-left: 20px;

            label {
                font-size: 0.9rem;
                margin-right: 10px;
            }

            input[type="range"] {
                width: 100px;
                margin-right: 10px;
                -webkit-appearance: none;

                &::-webkit-slider-runnable-track {
                    background-color: #555;
                    height: 5px;
                    border-radius: 2px;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: #1db954;
                    margin-top: -5px;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}