button {
  margin: 0 5px;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;


  &:hover {
    color: #fff;
  }

  &.liked {
    color: #1DB954;

    &:hover {
      color: #fff;
    }

    &:before {
      content: "";
      display: inline-block;
      height: 24px;
      margin-right: 8px;
      vertical-align: middle;
      width: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
