.title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}

.image {
    max-width: 100%;
    margin-bottom: 20px;
}

.comment-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.comment-username {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-content {
    margin: 0;
}

.comment-delete-link {
    color: #ff0000;
    margin-left: 10px;
}

.download-link {
    display: inline-block;
    background-color: #f50;
    color: #fff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    text-decoration: none;
}

.download-link:hover {
    background-color: #d40;
}

input[type="text"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    display: inline-block;
    background-color: #f50;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d40;
}

.add-in-playlist-link {
    display: inline-block;
    background-color: #ff9100;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.add-in-playlist-link:hover {
    background-color: #f58000;
}

.like-link {
    display: inline-block;
    background-color: #00c853;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.like-link:hover {
    background-color: #00b14f;
}
