body{
    margin: 0;
    background-color: #002e44;
    font-family: 'Museo', sans-serif;
}

#root{
    display: flex;
    flex-direction: column;

    .fond{
        width: 100%;
        height: 400px;
        background-image: url('../../public/images/fond.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        position: absolute;
        top: 0;
        z-index: -1;
    }


    .welcome{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 320px;

        h2{
            color: #678490;
            font-size: 50px;
        }
    }

}


