.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .playlist{
    color: #fff;
  }

  .playlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;

    .title-playlist{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;

      .icone{
        width: 100px;
        height: 100px;
        margin-right: 20px;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          color: #fff;
        };
      }
    }
    .title-playlist:hover {
      color: #00a9e2;
    }
  }

    .delete-link {
      color: #fff;
      background-color: #ff3e3e;
      padding: 10px 15px;
      border-radius: 30px;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-left: 20px;

      &:hover{
        background-color: #cc2e2e;
      }
    }
  }

  .create-playlist-btn {
    margin-bottom: 20px;
  }

