$breakpoints: (
        tablette: 690px,
        desktop: 980px
);

@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

// @mixin regroupe et peut être réutiliser ailleur avec @include
//map-get extrait la valeur de $breakpoints en utilisant la clé